/*mixins*/
/*gobal*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #D7CEC7;
  color: #565656;
  margin: 1rem;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 6rem;
  color: #76323F;
  font-family: 'Bitter', serif;
}
a {
  color: #76323F;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: bold;
}
a:hover {
  border: 0.2rem solid #76323F;
}
/*components*/
.headerNav {
  position: relative;
  overflow: hidden;
  height: 30rem;
  border: 3px solid #76323F;
}
.headerNav h1 {
  position: relative;
  width: 100%;
  text-align: center;
  height: 16rem;
  margin-top: 9rem;
}
.headerNav img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.35;
}
.headerNav nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card-container {
  display: flex;
}
.card-container .card {
  display: flex;
  width: 40%;
}
.hero {
  width: 100%;
}
.banner {
  width: 100%;
  height: auto;
}
.bottomSec .infoDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.bottomSec .infoDiv img {
  width: 30rem;
}
.bottomSec .infoDiv p {
  width: 40%;
  color: blue;
}
