.teams {
    display: flex;
    justify-content: space-evenly;
    .team {
        // display: flex;
        width: 10%;
        text-align: center;
        border: 3px solid @dark;
        margin: 1rem;
        background-color: @mid1;
        cursor: pointer;
    }
}

.cards-container {
    display: flex;
    flex-flow: column;

}
.card {
    display: flex;
    border: 2px solid @mid1;
    background-color: @dark;
    color: @light1;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    @media @tablet {
        margin-left: 0px;
        margin-right: 0px;
        flex-flow: column;
        align-items: center;
    } 
    .name {
        display: flex;
        align-items: flex-end;
        width: 20%;
        font-family: 'Bitter', serif;
        font-size: @big2;


        @media @tablet {
            width: auto;
            padding: 2rem;
            align-items: center;
            text-align: center;
        }
    }
    .blurb {
        display: flex;
        flex-flow: column;
        color: @light1;
        margin-right: 1rem;
        margin-left: 1rem;
        width: 60%;
        text-align: justify;
        @media @tablet {
            width: 80%;

        }
        a {
            color: @mid1;
            cursor: pointer;
            padding: 0px;
            @media @tablet {
                margin: 2rem;
            }
        }
        .aa {
            border: 1px solid @dark;
            border-radius: 6px;
            background: @accent;
            max-width: 60%;
            padding: 10px;
            text-decoration: none;
            margin-left:auto;
            margin-right:auto;
            @media @tablet {
                margin-bottom: 0rem;
            }
        }
        .aa:hover {
            text-decoration: underline;
        }
    }
    img {
        width: 200px;
        max-height: 10rem;
    }
}


