////Tabs////
.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    .team {
        margin: 2.5rem 1rem 2.5rem 1rem;
        .easyRead();
        text-align: center;
        cursor: pointer;
    }
    .team:hover {
        text-decoration: underline;
        color: @accent;
    }
}

////Cards////

.cards-container {
    display: flex;
    flex-flow: column;
    .card:first-child {
        @media @tablet {
            margin-top: 0px;
        }
    }
    .card {
        display: flex;
        background-color: @dark;
        color: @light1;
        border: 2px solid @mid1;
        padding: 1rem;
        .tbMargin(0rem, 1rem);
        @media @tablet {
            flex-flow: column;
            align-items: center;
            border: none;
            .lrMargin(0px, 0px);
        } 
    }
    .name {
        display: flex;
        align-items: flex-end;
        width: 20%;
        font-size: 3rem;
        .fancyFont();
        .sizeHeight(3rem, 1.2);
        @media @tablet {
            align-items: center;
            padding: 2rem;
            width: auto;
            text-align: center;
        }
    }

    .blurb {
        display: flex;
        flex-flow: column;
        color: @light1;
        .lrMargin(1rem, 1rem);
        width: 60%;
        text-align: justify;
        .sizeHeight(@big, 1.6);
        @media @tablet {
            width: 80%;
        }
        a {
            color: @light1;
            border: none;
            cursor: pointer;
            padding: 0px;
            .tbMargin(2rem, 0rem);
            .sizeHeight(@big, 1.4);
            @media @tablet {
                margin: 2rem;
            }
        }
        .aa {
            background: @accent;
            color: @mid1;
            border-radius: 6px;
            border: 2px solid @dark;
            .lrMargin(auto, auto);
            padding: 10px;
            max-width: 60%;
            text-decoration: none;
            @media @tablet {
                margin-bottom: 0rem;
            }
        }
        .aa:hover {
            border: 2px solid @mid1;
            color: @light1;
            text-decoration: underline;
        }
    }
    img {
        max-height: 10rem;
        width: 200px;
    }
}


