footer {
    text-align: center;
    font-size: @small;
    margin-top: 3rem;
    margin-bottom: 2rem;
    a {
        @media @phone {
            font-size: .8rem;
            background-color: @light1;
            color: @dark;
        }   
    }

}