//global styles
body {
    background: @light1;
    color: @dark;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Raleway', sans-serif;
    max-width: 1000px;
    @media @phone {
        margin: 0;
        
    }
}
h1 {
    font-size: @big3;
    color: @accent;
    font-family: 'Bitter', serif;
    
}
h3 {
    font-size: @big2;
    color: @accent;
    font-family: 'Bitter', serif;

}

a {
    color: @accent;
    text-decoration: none;
    padding: .5rem;
    font-weight: bold;
    margin: .5rem;
    text-align: center;
    font-size: @big;
    @media @phone {
        background-color: @dark;
        margin: 0;
        color: @light1;
    }

}
a:hover {
    border: 3px solid @accent;
    @media @tablet {
        border: 3px solid @accent;
    }
    @media @phone {
        border: none;
        border-bottom: .2rem solid @mid1;
        border-top: .2rem solid @mid1;
    }
}

