.hero {
    width: 100%;

    p {

    }
}

.banner {
    width: 100%;
    height: auto;
}
.bottomSec {
    .infoDiv {
        display: flex;
        width: 100%;
        justify-content: space-between;
        img {
            width: 30rem;
        }
        p {
            width: 40%;
            color: blue;
        }
    }
}