.hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 40px;
    p {
        margin-bottom: 30px;
        width: 65%;
        text-align: center;
        font-weight: 600;
        .sizeHeight(@big1, 1.5);
        @media @tablet{
            width: 75%;
        }
        @media @phone{
            width: 90%;
        }
    }
    .signUpBtn {
        display: flex;
        align-items: center;
        width: 10rem;
        height: 10rem;
        border-radius: 6px;
        padding: 10px;
        border: 5px solid @light1;
        background-color: @accent;
        color: @light1;
        text-align: center;
        .sizeHeight(@big2, 1.3);
        .fancyFont;
        cursor: pointer;    
    }
    .signUpBtn:hover {
        border: 5px solid @mid1;
        color: @mid1;
    }
}
.banner {
    opacity: .4;
    width: 100%;
    .tbMargin(20px, 20px);
}
.bottomSec {
    .infoDiv {
        display: flex;
        justify-content: space-between;
        align-self: center;
        border-bottom: 2px solid @accent;
        margin-top: 40px;
        padding-bottom: 40px;
        @media @tablet {
            flex-flow: column;
        }
        div {
            margin: 20px;
            @media @tablet{
                .lrMargin(auto, auto);
            }
            img {
                margin-top: 20px;
                width: 400px;
                @media @phone {
                    width: 300px;
                }
            }
        }
        h3 {
            margin-top: 40px;
            margin-left: 20px;
            @media @tablet {
                margin-left: 40px;
            }
        }
        p {
            margin: 40px;
            line-height: 1.6;
            .easyRead();
            text-align: justify;
        }
    }
    .top {
        margin-top: 0px;
    }
    .middle {
        flex-flow: row-reverse;
        @media @tablet {
            flex-flow: column;
        }
        h3 {
            .easyRead();
            .lrMargin(0px, 20px);
            @media @tablet {
                .lrMargin(40px, 0px);
            }
        }
    }
}
