//Margins//
.tbMargin(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.lrMargin(@left, @right) {
    margin-left: @left;
    margin-right: @right;
}

//Font//
.fancyFont() {
    font-family: 'Bitter', serif;    
}

.plainFont() {
    font-family: 'Raleway', sans-serif;
}

.sizeHeight(@font-size,@line-height) {
    font-size: @font-size;
    line-height: @line-height;
}

.easyRead() {
    font-weight: 600;
}