//nav bar styles


.headerNav {
    position: relative;
    overflow: hidden;
    height: 30rem;
    border: 3px solid @accent;
    h1 {
        position:relative;
        width: 100%;
        text-align: center;
        height: 16rem;
        margin-top: 9rem;
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.35;
    }
    nav {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
    