// Variables

@light1: @grain;
@mid1: @tan;
@accent: @oxblood;
@dark: @blackboard;

// Color Vars

@grain: #D7CEC7;
@blackboard: #565656;
@oxblood: #76323F;
@tan: #C09F80;
	

// Mobile var
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
